<!doctype html>
<html ng-app="app">
<header>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
		
	<script language="javascript" type="text/javascript">
		angular.module('app', []);

		function MyController($scope,$http,$location) {
			$scope.newMessage = "Hi";
			$scope.messages = [ "What's up?", "Yo!" ];
			
			$http({
				method : 'POST',
				url : '/memberws',
				params : {'type' : 'retrieveName','email' : 'huaraco@outlook.com'}
			}).success(function(data) {
				console.log(data);
			}).error(function(data, status, headers, config) {
				alert(data);
			});
			
			$http({
				method : 'POST',
				url : '/messagews',
				params : {'type' : 'readMessage','email' : 'huaraco@outlook.com'}
			}).success(function(data) {
				console.log(data);
			}).error(function(data, status, headers, config) {
				alert(data);
			});
			
			$http({
				method : 'POST',
				url : '/messagews',
				params : {'type' : 'writeMessage','to_email' : 'huaraco@outlook.com','to_name':'wang zunhua','from_email':'huaraco@gmail.com','message':'test','year':'2001'}
			}).success(function(data) {
				console.log(data);
			}).error(function(data, status, headers, config) {
				alert(data);
			});
			
			
			
			$scope.add = function() {
				$scope.messages.push($scope.newMessage);
				$location.path("/"); 
			};
		}
	</script>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push([ '_setAccount', 'UA-36036681-2' ]);
		_gaq.push([ '_setDomainName', 'github.com' ]);
		_gaq.push([ '_trackPageview' ]);

		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl'
					: 'http://www')
					+ '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();
	</script>
</header>

<body ng-controller="MyController">
	Leave a message:
	<br>
	<input type="text" ng-model="newMessage">
	<input type="submit" ng-click="add()" value="new message">
	<br> Messages:
	<br>
	<ul>
		<li ng-repeat="message in messages">{{message}}</li>
	</ul>
</body>

</html>